<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/express.ico">
    <title>{{title}}</title>
</head>
<body>
    <header>
		{{> header}}
	</header>
	<div class="container">
		<aside>
			{{> aside}}
		</aside>
		<main>
			{{{body}}}
		</main>
	</div>
	<footer>
		{{> footer}}
	</footer>
	<script type="module" src={{script}}></script>
</body>
</html>