<h1>Start</h1>
    <p class="author"></p>
    <p class="auth">Авторизуйтесь!!!</p>
    <div class="content">
      <span>Логин: </span>
      <input class="login" type="text" placeholder="login">  
    </div>
    <div class="content">
      <span>Пароль: </span>
      <input class="password" type="password" placeholder="password">  
    </div>
    <p>
        <button class="sign-in">Войти</button>
        <button class="create">Регистрация</button>
        <button class="exit">Уйти</button>
    </p>
    <p class="error"></p>